.container{
    display: flex;
    width: 10em;
    justify-content: space-around;
}

.shop:link, .shop:visited  {
color: #fdf5f5;
}

.itemLink{
    text-decoration: none;
    color: #222;
}

.addToCartDiv{
    margin: 10px;
}

.cards{
    margin-top: 10px;
}